<!DOCTYPE html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

<html lang="it">
<head>
__HEAD__
</head>

<body>
<header>
__HEADER__
</header>

<main>
__MAIN__
</main>

<script id="FACTION_DATA" type="application/json">
__FACTION_JSON__
</script>

<script id="ITEM_DATA" type="application/json">
__ITEM_JSON__
</script>

<div id="modalOverlay" class="modal-overlay">
  <div class="modal">
    <h3 id="modalTitle"></h3>
    <div id="modalContent"></div>
    <button id="closeModalBtn" class="secondary" style="margin-top:12px;">Chiudi</button>
  </div>
</div>

<script>
__SCRIPT__
</script>

</body>
</html>
