<!DOCTYPE html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/plugins/svg.min.js"></script> -->

<html lang="it">
<head>
__HEAD__
</head>

<body>
<header>
__HEADER__
</header>

<main>
__MAIN__
</main>

<script id="FACTION_DATA" type="application/json">
__FACTION_JSON__
</script>

<script id="ITEM_DATA" type="application/json">
__ITEM_JSON__
</script>

<script>
__SCRIPT__
</script>
</body>
</html>
